@(name: String, logstate: String, posts: List[classes.Post])

@import classes.Post

@main("Squaddle") {

  <a href="@routes.HomeController.account()">My account</a><br />
  <a href="@routes.HomeController.logout()">logout</a>

  <h1>It's Squaddle</h1>
  <h3>Welcome @name</h3>
  <p>
  	<form action="/postpost">
  		Talk to the people. <br />
  		<input type="text" id="text" name="text">
  		<input type="submit" value="Post">
  	</form>

  	<h4>@logstate</h4>
  	
  </p>
  <ul style="list-style-type:none;">
  	@for(post <- posts) {
  	<div style="border-top:solid 1px black; width: 80%; max-width: 500px;">
	  	<li>
	  		<p>@post.getUser().getEmail() posted:</p>
	  		<p>@post.getText()</p>
	  		<p>@post.getDate().toString()</p>
	  	</li>
  	</div>
  }
  </ul>
} 
