@(name: String, logstate: String, posts: List[classes.Post])

@import classes.Post

@main("Squaddle") {
<div class="container">
	<div class="nav">
		<a href="@routes.HomeController.account()">My account</a>
		&nbsp;
		<a href="@routes.HomeController.logout()">logout</a>
	</div>

	<div class="header">
		<h1>It's Squaddle</h1>
		<h3>Welcome @name</h3>
	</div>

	<div class="postform">
		<p>
			<form action="/postpost">
				<input type="text" id="text" name="text" style="width:85%; text-align:left; position: left;">
				<br />
				<input type="submit" value="Post" style="width:15%; max-width: 200px; min-width: 50px;">
			</form>

  			<h4 id="hideMe">@logstate</h4>
		</p>
	</div>

	<div>
		<ul style="list-style-type:none;">
  		@for(post <- posts) {
			<div style="width: 80%; max-width: 500px; margin-top: 40px;">
				<li>
					<p>
						<span class="headline">@post.getUser().getEmail()</span>
						<small>@post.getDate().toString()</small>
					</p>
					<p>@post.getText()</p>
				</li>
			</div>
		}
		</ul>
	</div>

</div>
} 
